body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.blog-footer {
    background-color: #222;
    border-color: #080808;
    color: #999;
    padding: 4px 0;
}

/*
 * Blog name and description
 */

.blog-header {
  padding: 20px;
  background: url(logo.jpg) 0 100px;
  color: #eee;
  margin-top: 10px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

.blog-post p img {
  max-width: 100%;
  padding: 2px;
}

.blog-post-meta {
margin-bottom: 20px;
color: #999;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 0 40px 0;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.blog-post {
margin-bottom: 60px;
border-top: 1px solid #eee;
}

.portlet-title {
    font-size: 18px;
    color: #333;
}

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 40px auto;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

.blog-readmore {
  margin-bottom: 15px;
}

.body-bg {
  bbackground: url(bg.png);
}

.container-bg {
  background-color: #fff;
}

.tag a:before, .blog-tags a:before {
  content: "#";
}

.blog-tags-block .portlet-content:after {
    content: ".";
    visibility: hidden;
    display: inline;
}

.blog-buttons-container {
  padding-top: 15px;
}

.blog-readmore-button {
    background-color: #EEEEEE;
    border: 1px solid #BBBBBB;
    font-size: 120%;
    padding: 10px;
}

.blog-comments-block-title {
    display: block;
    padding: 5px;
    background-color: #428BCA;
    color: #eee;
}

.blog-comment-text:before {  
    content: open-quote;  
    font-size: 20pt;  
    color: #bbb;
    float: left;
    padding-right: 10px;
}

.blog-comment-text:after {  
    content: close-quote;  
    font-size: 20pt;  
    color: #bbb;  
    float: right;
    padding-left: 10px;
}

.blog-comments-block .blog-post-meta {
    margin-bottom: 0;
}

.blog-comment-text-block {
  margin-bottom: 40px;
}

.blog-submit-form {
  margin-bottom: 60px;
}

.errorMessage {
  color: red;
}

.sidebar-module.sidebar-module-inset {
  margin-top: 20px;
  overflow: hidden;
  text-align: justify;
}

.blog-post-title {
  font-family: 'Poiret One', cursive;
  font-size: 34px;
}

.blog-post-title a:hover {
  text-decoration: none;
} 

.blog-main #content {
  padding: 0 0 50px 20px;
}

.blog-sidebar .content {
  padding: 20px 20px 0 0;
}
