body {
}

.blog-footer {
    background-color: #222;
    border-color: #080808;
    color: #999;
    padding: 4px 0;
}

/*
 * Blog name and description
 */

.blog-header {
  padding: 20px 0 0 105px;
  color: #333;
  margin-top: 10px;
  bbackground-image: url(logo-02.png);
  background-repeat: no-repeat;
  background-position: 105px 0;
  height: 180px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: 800;
  font-family: 'Neucha', cursive;
  display: none;
}
.blog-description {
  font-size: 24px;
  color: #999;
  letter-spacing: 8px;
  padding-top: 24px;
  font-family: 'Special Elite', cursive;
  display: none;
}

.blog-post p img {
  max-width: 622px;
  padding: 2px 2px 2px 0;
}

.blog-post p {
 color: #555; 
 font-size: 13px;
}

.blog-post-meta {
margin-bottom: 20px;
color: #999;
}

p.blog-post-meta{
  color: #39aa8e;
}

p.blog-post-meta span{
  color: #555;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 0 40px 0;
}

.blog-main-menu {
  padding: 15px;
  background-color: #E7E9E8;
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 105px;
  overflow: hidden;
}

.blog-main-menu a.menu-item {
  display: block;
  font-size: 14px;
  border-bottom: 1px dotted #ccc;
}

.sidebar-module-inset {
  padding: 15px;
  background-color: #ebf2f0;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.blog-post {
margin-bottom: 60px;
width: 624px;
}

.portlet-title {
    font-size: 18px;
    color: #333;
}

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 40px auto;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

.blog-readmore {
  margin-bottom: 15px;
}

.body-bg {
  
}

.container-bg {
  background-color: #fff;
}

.tag a:before, .blog-tags a:before {
  content: "#";
}

.blog-tags-block .portlet-content:after {
    content: ".";
    visibility: hidden;
    display: inline;
}

.blog-buttons-container {
  padding-top: 15px;
}

.blog-readmore-button {
    border: 1px solid #39aa8e;
    font-size: 120%;
    padding: 5px;
    font-size: 13px;
}

.container a.blog-readmore-button {
    color: #39aa8e;
}

.container a.blog-readmore-button:hover {
    color: #999;
}

.blog-comments-block-title {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  color: gray;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0 0 20px 0;
}

.blog-comment-text:before {  
    content: open-quote;  
    font-size: 20pt;  
    color: #bbb;
    float: left;
    padding-right: 10px;
}

.blog-comment-text:after {  
    content: close-quote;  
    font-size: 20pt;  
    color: #bbb;  
    float: right;
    padding-left: 10px;
}

.blog-comments-block .blog-post-meta {
    margin-bottom: 0;
}

.blog-comment-text-block {
  margin-bottom: 40px;
}

.blog-submit-form {
  margin-bottom: 60px;
}

.errorMessage {
  color: red;
}

.sidebar-module.sidebar-module-inset {
  margin-top: 20px;
  overflow: hidden;
}

.blog-post-title {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  color: #000;
}

.blog-post-title a, .blog-post-title a:hover {
  color: #000;
}


.blog-post-title a:hover {
  text-decoration: none;
} 

.blog-main #content {
  padding: 0 0 50px 105px;
}

.blog-sidebar .content {
  padding: 20px 105px 0 0;
}

.portlet-title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.body-bg .navbar .brand {
  font-size: 14px;
  font-weight: normal;
}

.social-page, .social-share {
  text-indent: -99999px;
  text-decoration: none;
  margin-right: 10px;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  display: block;
  float: left;
}

.social-share {
  width: 22px;
  height: 22px;
}

.social-page {
  width: 32px;
  height: 32px;
}

.social-page-fb {
  background-image: url("social-fb-round.png");
}

.social-page-instagram {
  background-image: url("social-instagram-round.png");
}

.social-page-pinterst {
  background-image: url("social-pinterest-round.png");
}

.social-page-rss {
  background-image: url("social-rss-round.png");
}

.social-fb-share {
  background-image: url("social-fb-share.png");
}

.social-instagram-share {
  background-image: url("social-instagram-share.png");
}

.social-pinterest-share {
  background-image: url("social-pinterest-share.png");
}

.blog-sharebuttons-container p {
  float: left;
  padding-right: 10px;
  color: #999;
}

.blog-buttons-container a {
  font-size: 13px;
}

.blog-buttons-container a:hover {
  text-decoration: none;
}

.scroll-to-top-button{
  background: #fff url(scroll.png) center center no-repeat;
  width: 32px;
  height: 32px;
  color: #fff;
  font-family: verdana;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  padding: 15px;
  margin: 20px;
  margin-top: 60px;
  border: 1px solid #ccc;
}

.container a {
  color: #333;
}

.container a:hover {
  color: #555;
}

.blog-commentshort-author {
  font-weight: bold;
  background: url(icon_comment.png) no-repeat right center;
  padding-right: 20px;
}

.blog-recent-comments {
  font-size: 13px;
}

.comment-admin {
  padding: 20px 0;
}

.pending {
  color: red;
  font-weight: bold;
}

.status1, .status2, .status3 {
  display: block;
  width: 48px;
  height: 48px;
  text-indent: -999999px;
  padding-right: 20px;
  float: left;
}

.status1 {
  background: url(draft_48.jpg) no-repeat left center;
}

.status2 {
  background: url(button_ok_48.png) no-repeat left center;
}

.status3 {
  background: url(archive_48.png) no-repeat left center;
}

#content .pagination ul {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#content .pagination ul li a {
  border: none;
  background: #fff;
}

.post_nav a {
  color: #999;
}

.post_nav a:hover {
  text-decoration: none;
  color: #ccc;
}

.post_nav_right a {
  float: right;
  text-align: right;
}

.post_nav-buttons {
  margin-top: 16px;
}

.blog-author-info {
  width: 100%;
  overflow: hidden;
  padding: 15px;
}

.blog-social-pages {
  width: 100%;
  overflow: hidden;
  padding: 15px;
}

.author-logo {
  opacity: 0.75;
}